APP_PORT=8080

# MySQL Configuration
DB_USER=root
DB_PASSWORD=rootpass
DB_HOST=mysql
DB_PORT=3306
DB_NAME=gift_store

# Kafka Configuration
KAFKA_BROKERS=kafka:9092
KAFKA_TOPICS=gift_events
KAFKA_GROUP_ID=gift-store-group

# Elasticsearch Configuration
ELASTIC_URL=http://elasticsearch:9200
